@font-face {
    font-family: 'heebo-reg';
    src: url('./assets/fonts/Heebo-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'heebo-bold';
    src: url('./assets/fonts/Heebo-Bold.ttf') format('truetype');
    font-style: normal;
}

* { 
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 55px 60px;
}

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 70px;

    .text-bold {
    }

    .titles-con {
        text-align: center;
        margin-bottom: 10px;


        h1 {
            font-size: 85px;
            line-height: 130px;
            color: #39969c;
            font-family: 'heebo-bold', Fallback, sans-serif;
        }
        
        h2 {
            font-size: 60px;
            line-height: 80px;
            font-family: 'heebo-reg', Fallback, sans-serif;
            .bold-text {
                font-family: 'heebo-bold', Fallback, sans-serif;
            }
        }
    }

    .content-con {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            margin-bottom: none;
        }

        .text-title-con {
            font-size: 70px;
            opacity: 1;
            background-color: #39969c;
            color: white;
            padding: 30px 60px;
            text-align: center;
            border-radius: 40px;
            margin: 100px 0 60px;
        }
        
        .text-con {
            font-size: 50px;
            font-family: 'heebo-reg', Fallback, sans-serif;
            
            .bold-text {
                font-family: 'heebo-bold', Fallback, sans-serif;
            }
        }

        .food-wheel-image {
            background-image: url(./assets/images/foodWheel.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 800px;
            width: auto;
            margin: 40px 0;
        }

        .list-con ul li {
            font-family: 'heebo-reg', Fallback, sans-serif;
            margin: 30px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .bold-text {
                font-family: 'heebo-bold', Fallback, sans-serif;
            }
        }

        a {
            font-family: 'heebo-reg', Fallback, sans-serif;
            color: #256569;
        }

        .link-text {
            margin-top: 20px;
        }
    }
}
