@font-face {
    font-family: 'font-reg';
    src: url('./assets/fonts/IBMPlexSansHebrew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-semi-bold';
    src: url('./assets/fonts/IBMPlexSansHebrew-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-bold';
    src: url('./assets/fonts/IBMPlexSansHebrew-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebo-reg';
    src: url('./assets/fonts/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebo-bold';
    src: url('./assets/fonts/Heebo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    font-family: 'heebo-reg', Fallback, sans-serif;
    direction: rtl;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 60px;
}

.scrolling-text {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    animation: floatIn 1.5s ease-in-out forwards;
    
    @keyframes floatIn {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}  

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-family: heebo-reg;

    .text-justify {
        text-align: justify;
    }
    
    .text-bold {
        // font-weight: 700;
        font-family: 'heebo-bold', Fallback, sans-serif;

    }

    .titles-con {
        text-align: center;
        margin-bottom: 10px;

        h1 {
            font-size: 80px;
            line-height: 100px;
            color: #39969c;
        }
        
        h2 {
            font-size: 35px;
            line-height: 60px;
        }
    }

    .content-con {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            margin-bottom: none;
        }

        .text-title-con {
            font-size: 43px;
            font-weight: 700;
            // color: #39969c;
            margin-top: 30px;
            transform: translateY(-26.9865%);
            opacity: 1;
            background-color: #39969c;
            color: white;
            padding: 15px 10px;
            text-align: center;
            margin-bottom: 10px;
            border-radius: 10px;
        }
        
        .text-con {
            font-size: 30px;
        }

        .food-wheel-image {
            background-image: url(./assets/images/foodWheel.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 800px;
            width: auto;
            margin: 40px 0;
        }

        .list-con ul li {
            margin: 11px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            color: #256569;
        }

        .link-text {
            margin-top: 20px;
        }
    }
}
