@font-face {
    font-family: 'heebo-reg';
    src: url('./assets/fonts/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebo-bold';
    src: url('./assets/fonts/Heebo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 55px 60px;
}

.scrolling-text {
    opacity: 0.4;
    transition: opacity 0.05s;

    &.show-up {
        opacity: 1;
    }
}

.main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    .text-justify {
        text-align: justify;
    }
    
    .text-bold {
        font-weight: 700;
    }

    .titles-con {
        text-align: center;
        margin-bottom: 10px;

        h1 {
            font-size: 80px;
            line-height: 100px;
            color: #39969c;
        }
        
        h2 {
            font-size: 35px;
            line-height: 60px;
        }
    }

    .content-con {
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
            margin-bottom: none;
        }

        .text-title-con {
            font-size: 43px;
            font-weight: 700;
            opacity: 1;
            background-color: #39969c;
            color: white;
            padding: 15px 10px;
            text-align: center;
            border-radius: 10px;
            margin: 60px 0 20px;
        }
        
        .text-con {
            font-size: 30px;
        }

        .food-wheel-image {
            background-image: url(./assets/images/foodWheel.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 800px;
            width: auto;
            margin: 40px 0;
        }

        .list-con ul li {
            margin: 11px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            color: #256569;
        }

        .link-text {
            margin-top: 20px;
        }
    }
}
